@import '../../stylesheets/utilities';

$layout-margin: rem(60px);

.Page {
  display: flex;
  min-height: 100vh;
}

.Layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: $layout-margin;

  @include breakpoint-before(small) {
    margin: $layout-margin spacing(loose) spacing(loose);
  }
}

.LayoutItem {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.LayoutItem--center {
  justify-content: center;
}

.LayoutItem--fill {
  flex: 1;
}
