@import '../../stylesheets/utilities';

.Page {
  display: flex;
  min-height: 100vh;
}

.Layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: layout-margin();

  @include breakpoint-before(small) {
    margin: layout-margin() spacing(loose) spacing(loose);
  }
}

.LayoutItem {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.LayoutItem--alignmentCenter {
  justify-content: center;
}

.LayoutItem--distributionCenter {
  align-items: center;
}

.LayoutItem--fill {
  flex: 1;
}

.LoadingTitle {
  @include breakpoint-before(small) {
    font-size: rem(30px);
  }
}
