@import '../../stylesheets/utilities';

.Album__Wrapper {
  z-index: z-index(behind);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: color(white);
  transition: opacity duration(long) easing();
}

.Album__Wrapper--active {
  z-index: z-index(top);
  opacity: 1;
}

.Album__Preview {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.Album__Preview--show {
  display: block;
}

.Album_CloseButton {
  cursor: pointer;
  position: fixed;
  top: spacing();
  right: spacing();
  padding: spacing();
  background-color: transparent;
  border: 0;
  transform: scale(1);
  transition: transform duration() easing();

  &:hover {
    transform: scale(1.1);
  }
}

.Album__Hub {
  z-index: z-index(top);
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: layout-margin();
  color: color(white);
  transition: opacity duration(long) ease-in-out;
}

.Album__Pictures {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  padding: layout-margin();
  overflow-x: scroll;
}

.Album__Picture {
  cursor: pointer;
  border-radius: border-radius();
  border: 1px solid transparent;
  transition: border duration() ease-in-out;

  &:not(:first-child) {
    margin-left: spacing(tight);
  }

  &:hover {
    border: 1px solid color(white);
  }
}

.Album__Picture--selected {
  border: 1px solid color(white);
}

.Album__PictureOffset {
  padding: layout-margin() / 2;
}
