/* Inconsolata */
@font-face {
  font-family: 'Inconsolata';
  src: url('../typefaces/Inconsolata-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('../typefaces/Inconsolata-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

/* TiemposHeadline */
@font-face {
  font-family: 'TiemposHeadline';
  src: url('../typefaces/TiemposHeadline-Semibold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}
