$base-font-size: 16px;
$base-font-size-mobile: 13px;
$unit: 6px;

$spacings: (
  tight: $unit,
  base: $unit * 2,
  loose: $unit * 4,
  extra-loose: $unit * 6,
);

$breakpoints: (
  small: 767px,
  medium: 992px,
  large: 1200px,
);

$border-radius-data: (
  base: 3px,
  large: 6px,
);

$box-shadow-data: (
  base: (
    0 10px 20px 0 rgba(0, 0, 0, 0.04),
    0 1px 2px 0 rgba(0, 0, 0, 0.15),
  ),
);
