$base-font-size: 14px;
$unit: 6px;

$spacings: (
  tight: $unit,
  base: $unit * 2,
  loose: $unit * 4,
  extra-loose: $unit * 6
);

$breakpoints: (
  small: 767px,
  medium: 992px,
  large: 1200px
);
