@import '../../stylesheets/utilities';

$imagelist-image-height: 84px;
$imagelist-image-height-mobile: 100px;
$imagelist-gap: 1px;
$imagelist-gap-mobile: 3px;
$imagelist-row-items-amount-large-screen: 6;
$imagelist-row-items-amount-medium-screen: 3;
$imagelist-row-items-amount-small-screen: 2;

$layout-margin-sides: layout-margin();
$layout-margin-top: layout-margin();
$layout-margin-bottom: rem(200px);

.ImageList {
  position: relative;
  z-index: z-index(top);
  margin-top: spacing(extra-loose);
  transition: color duration() ease-in-out;

  // Fallback from display grid lack of support
  column-count: $imagelist-row-items-amount-large-screen;
  column-gap: $imagelist-gap;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(
      $imagelist-row-items-amount-large-screen,
      1fr
    );
    grid-gap: $imagelist-gap;
  }

  @include breakpoint-before(medium) {
    column-count: $imagelist-row-items-amount-medium-screen;
    column-gap: $imagelist-gap-mobile;

    @supports (display: grid) {
      grid-template-columns: repeat(
        $imagelist-row-items-amount-medium-screen,
        1fr
      );
      grid-gap: $imagelist-gap-mobile;
    }
  }

  @include breakpoint-before(small) {
    column-count: $imagelist-row-items-amount-small-screen;

    @supports (display: grid) {
      grid-template-columns: repeat(
        $imagelist-row-items-amount-small-screen,
        1fr
      );
    }
  }
}

.ImageList--hovered {
  color: color(white);
}

.ImageList--autoFit {
  @include breakpoint-before(small) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .ImageList__Item {
    &:first-child .ImageList__Image {
      border-top-left-radius: border-radius(large);
      border-bottom-left-radius: border-radius(large);
    }
    &:last-child .ImageList__Image {
      border-top-right-radius: border-radius(large);
      border-bottom-right-radius: border-radius(large);
    }
  }
}

.ImageList--oneOff {
  .ImageList__Item {
    @include breakpoint-before(small) {
      &:first-child .ImageList__Image {
        border-top-left-radius: border-radius(large);
      }
      &:nth-child(2) .ImageList__Image {
        border-top-right-radius: border-radius(large);
      }
      &:nth-last-child(2) .ImageList__Image {
        border-bottom-left-radius: border-radius(large);
      }
      &:last-child .ImageList__Image {
        border-bottom-right-radius: border-radius(large);
      }
    }

    @include breakpoint-between(small, medium) {
      &:first-child .ImageList__Image {
        border-top-left-radius: border-radius(large);
      }
      &:nth-child(3) .ImageList__Image {
        border-top-right-radius: border-radius(large);
      }
      &:last-child .ImageList__Image {
        border-bottom-left-radius: border-radius(large);
        border-bottom-right-radius: border-radius(large);
      }
    }

    @include breakpoint-after(medium) {
      &:first-child .ImageList__Image {
        border-top-left-radius: border-radius(large);
        border-bottom-left-radius: border-radius(large);
      }
      &:last-child .ImageList__Image {
        border-top-right-radius: border-radius(large);
        border-bottom-right-radius: border-radius(large);
      }
    }
  }
}

.ImageList--odd {
  .ImageList__Item {
    @include breakpoint-before(small) {
      &:first-child .ImageList__Image {
        border-top-left-radius: border-radius(large);
      }
      &:nth-child(2) .ImageList__Image {
        border-top-right-radius: border-radius(large);
      }
      &:nth-last-child(2) .ImageList__Image {
        border-bottom-right-radius: border-radius(large);
      }
      &:last-child .ImageList__Image {
        border-bottom-left-radius: border-radius(large);
        border-bottom-right-radius: border-radius(large);
      }
    }

    @include breakpoint-between(small, medium) {
      &:first-child .ImageList__Image {
        border-top-left-radius: border-radius(large);
      }
      &:nth-child(3) .ImageList__Image {
        border-top-right-radius: border-radius(large);
        border-bottom-right-radius: border-radius(large);
      }
      &:nth-last-child(2) .ImageList__Image {
        border-bottom-left-radius: border-radius(large);
      }
      &:last-child .ImageList__Image {
        border-bottom-right-radius: border-radius(large);
      }
    }

    @include breakpoint-after(medium) {
      &:first-child .ImageList__Image {
        border-top-left-radius: border-radius(large);
        border-bottom-left-radius: border-radius(large);
      }
      &:last-child .ImageList__Image {
        border-top-right-radius: border-radius(large);
        border-bottom-right-radius: border-radius(large);
      }
    }
  }
}

.ImageList--even {
  .ImageList__Item {
    @include breakpoint-before(small) {
      &:first-child .ImageList__Image {
        border-top-left-radius: border-radius(large);
      }
      &:nth-child(2) .ImageList__Image {
        border-top-right-radius: border-radius(large);
      }
      &:nth-last-child(2) .ImageList__Image {
        border-bottom-left-radius: border-radius(large);
      }
      &:last-child .ImageList__Image {
        border-bottom-right-radius: border-radius(large);
      }
    }

    @include breakpoint-between(small, medium) {
      &:first-child .ImageList__Image {
        border-top-left-radius: border-radius(large);
      }
      &:nth-child(3) .ImageList__Image {
        border-top-right-radius: border-radius(large);
      }
      &:nth-last-child(3) .ImageList__Image {
        border-bottom-left-radius: border-radius(large);
      }
      &:last-child .ImageList__Image {
        border-bottom-right-radius: border-radius(large);
      }
    }

    @include breakpoint-after(medium) {
      &:first-child .ImageList__Image {
        border-top-left-radius: border-radius(large);
        border-bottom-left-radius: border-radius(large);
      }
      &:last-child .ImageList__Image {
        border-top-right-radius: border-radius(large);
        border-bottom-right-radius: border-radius(large);
      }
    }
  }
}

.ImageList__Item {
  cursor: pointer;

  &:hover {
    .ImageList__Image {
      border: 1px solid color(white);
    }
  }
}

.ImageList__Image {
  display: block;
  background-color: color(sky-light);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-clip: content-box, padding-box;
  box-shadow: box-shadow();
  border-radius: border-radius();
  border: 1px solid transparent;
  height: $imagelist-image-height;
  transition: border duration() ease-in-out;

  @include breakpoint-before(medium) {
    height: $imagelist-image-height-mobile;
  }
}

.ImageList__Title {
  text-transform: uppercase;
  text-align: center;
  margin-top: spacing(loose);

  @include breakpoint-before(medium) {
    display: none;
  }
}

.ImageList__PreviewWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: z-index(behind);
  background-color: color(white);
}

.ImageList__PreviewWrapper--hovered {
  z-index: z-index(front);
}

.ImageList__Preview {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding: $layout-margin-sides;
  padding-top: $layout-margin-top;
  padding-bottom: $layout-margin-bottom;
  color: color(white);
  transition: opacity duration(long) ease-in-out;

  @include breakpoint-before(small) {
    padding: spacing(loose);
    padding-top: $layout-margin-top;
    padding-bottom: $layout-margin-bottom;
  }
}

.ImageList__Preview--show {
  opacity: 1;
}

.ImageList__PreviewTitle {
  font-family: 'TiemposHeadline';
  font-weight: bold;
  font-size: rem(72px);
  letter-spacing: -2px;
  color: color(white);
  text-align: right;
  // mix-blend-mode: exclusion; // Bad on Chrome
  transform: rotate(-180deg);

  @include breakpoint-before(small) {
    font-size: rem(46px);
  }
}

.ImageList__PreviewDescription {
  margin-top: spacing();
  font-size: rem(24px);
  line-height: rem(36px);
  max-width: 600px;
}
